.s-field-select {
  display: block;
  margin-bottom: 0.5rem;

  &__name {
    @include field-name;
  }

  &__input-wrap {}

  &__select {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    font-size: 0.875rem;
    font-family: inherit;
    border: 0;
    border-bottom: 1px solid #cecece;
    border-radius: 0;
    appearance: none;
    background-color: transparent;
    background-image: svg-load('../blocks/field-select/img/select.svg');
    background-repeat: no-repeat;
    background-position: right 2rem center;
    background-size: 10px 5px;
    padding: 1rem 2rem;
    color: currentColor;

    &[multiple] {
      background-image: none;
      min-height: 6.8em;
    }

    &::-ms-expand {
      display: none;
    }

    &:active,
    &:focus {
      @include field-focus;
    }

    &[disabled],
    &[readonly] {
      cursor: default;
      background-color: $gray-lightest;
    }
  }

  &__help-text {
    @include field-help-text;
  }

  &--light {
    color: $white;

    .s-field-select__select {
      border-color: #2da8df;
    }
  }
}
