mixin social(mods)

  //- Param:
    mods {string} - modifiers

  //- Usage:
    +social('mods')

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-social--' + modsList[i].trim();
      }
    }

  .s-social(class=allMods, role='banner')&attributes(attributes)
    ul.s-social__list
      li.s-social__item
        a.s-social__link(href='/', target='_blank', rel='noopener')
          +svg-icon('instagram', 24, 24)
      li.s-social__item
        a.s-social__link(href='/', target='_blank', rel='noopener')
          +svg-icon('ok', 24, 24)
      li.s-social__item
        a.s-social__link(href='/', target='_blank', rel='noopener')
          +svg-icon('youtube', 24, 24)