.s-social {
  color: $white;

  &__item {
    margin: 0;
  }

  &__link {
    color: currentColor;

    svg {
      fill: currentColor;
    }
  }

  &--colored {
    color: $primary-color--variant;
  }
}