.s-main-nav {
  background-color: $primary-color;
  color: $white;
  display: none;
  font-size: rem(19px);
  line-height: rem(33px);

  @media (min-width: $screen-md) {
    display: block;
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    li {

      &:not(:first-child) {
        margin-left: 2rem;
      }

      a {
        display: block;
        padding: 1rem 0;
        color: currentColor;
        position: relative;

        &::after {
          position: absolute;
          content: '';
          background-color: currentColor;
          width: 100%;
          bottom: 0;
          height: 0;
          left: 0;
          transition: all 0.115s ease-out 0s;
        }

        &:hover,
        &:active {
          font-weight: 700;
          text-decoration: none;

          &::after {
            height: 3px;
          }
        }
      }
    }
  }
}