mixin main-nav

  nav.s-main-nav
    ul
      li: a(href='/') Направления
      li: a(href='/') Запись на прием
      li: a(href='/') Консультация
      li: a(href='/') О нас
      li: a(href='/') Статьи
      li: a(href='/') Контакты