mixin testimonials

  section.s-testimonials
    .container
      h2.s-main-subtitle: span Отзывы наших клиентов
      .s-testimonials__video-slider
        +owl-carousel('testimonials-views-slider').s-main-slider.s-main-slider--nav-center
          .item-video
            a.owl-video(href='https://www.youtube.com/watch?v=H3jLkJrhHKQ')
          .item-video
            a.owl-video(href='https://www.youtube.com/watch?v=H3jLkJrhHKQ')
          .item-video
            a.owl-video(href='https://www.youtube.com/watch?v=H3jLkJrhHKQ')
          .item-video
            a.owl-video(href='https://www.youtube.com/watch?v=H3jLkJrhHKQ')
          .item-video
            a.owl-video(href='https://www.youtube.com/watch?v=g3J4VxWIM6s')
          .item-video
            a.owl-video(href='https://www.youtube.com/watch?v=0fhoIate4qI')
          .item-video
            a.owl-video(href='https://www.youtube.com/watch?v=EF_kj2ojZaE')

      .s-testimonials__views-slider
        +owl-carousel('testimonials-views-slider').s-main-slider.s-main-slider--default
          .s-testimonials__blockquote
            p.s-testimonials__quote.
              Прекрасный доктор, который подарил мне возможность снова носить туфли Антон Андреевич Акулаев. Больше нет болей, больше нет дискомфорта! Операция прошла очень быстро и процесс восстановления прошёл максимально комфортно! Спасибо от души!
            .s-testimonials__quotee Наталья
            +date('2018-07-18').s-testimonials__quotee-date
          .s-testimonials__blockquote
            p.s-testimonials__quote.
              4.07.2018 года мне была произведена операция на переднюю крестообразную связку докторами Захаров Кирилл Игоревич и Козлов Олег Алексеевич .Хочу выразить благодарность этим докторам ! Внимательные , дружелюбные , ответственные молодые люди ! Хотелось бы отметить ,что само отделение просто замечательное , чисто , все новое , питание отличное !внимательные медсестры ! Я осталась под хорошим впечатлениями ! Желаю процветания и здоровья Врачам и больнице ! Люди в вас нуждаются ! Спасибо !
            .s-testimonials__quotee Музыка Илона
            +date('2018-07-28').s-testimonials__quotee-date
          .s-testimonials__blockquote
            p.s-testimonials__quote.
              Прекрасный доктор, который подарил мне возможность снова носить туфли Антон Андреевич Акулаев. Больше нет болей, больше нет дискомфорта! Операция прошла очень быстро и процесс восстановления прошёл максимально комфортно! Спасибо от души!
            .s-testimonials__quotee Наталья
            +date('2018-07-18').s-testimonials__quotee-date