.s-testimonials {
  padding: 5rem 0;

  &__blockquote {
    text-align: center;
    position: relative;
    padding-top: 2.5rem;

    @media (min-width: $screen-lg) {
      padding-top: 0;
      padding-left: 5rem;
      text-align: left;
    }

    &::before {
      position: absolute;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 101.93 73.89'%3E %3Cpath stroke='%237b7b7b' fill='none' stroke-miterlimit='10' stroke-width='3' d='M24.34 27.18A22.52 22.52 0 0 0 17 28.42C22.3 9.67 44.2 1.63 44.2 1.63 44.48.26 28 5.72 21.11 10.75-2.32 28 1.66 49.14 1.69 49.8a22.65 22.65 0 1 0 22.65-22.62zM77.86 27.18a22.51 22.51 0 0 0-7.33 1.24c5.29-18.75 27.2-26.79 27.2-26.79.27-1.37-16.25 4.09-23.09 9.12C51.21 28 55.19 49.14 55.22 49.8a22.65 22.65 0 1 0 22.64-22.62z' /%3E %3C/svg%3E");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 34px;
      height: 25px;
      top: 0;
      left: 50%;
      transform: translate3d(-50%,0,0);

      @media (min-width: $screen-lg) {
        left: 1rem;
        transform: translate3d(0,0,0);
      }
    }
  }

  &__quote {
    font-style: italic;
    font-size: rem(12px);
    line-height: rem(20px);
    font-weight: 300;
    margin-bottom: 0.4rem;

    @media (min-width: $screen-lg) {
      font-size: rem(14px);
      line-height: rem(22px);
      margin-bottom: 0.6rem;
    }
  }

  &__quotee {
    font-weight: 500;
    font-size: rem(12px);
    line-height: rem(17px);

    @media (min-width: $screen-lg) {
      font-size: rem(14px);
      line-height: rem(22px);
    }
  }

  &__quotee-date {
    font-variant-numeric: lining-nums;
    font-size: rem(12px);
    line-height: rem(17px);
    font-weight: 300;
    color: #7b7b7b;

    @media (min-width: $screen-lg) {
      font-size: rem(12px);
      line-height: rem(20px);
    }
  }

  &__video-slider {

    .item-video {
      height: 300px;
    }

    .owl-nav {
      z-index: -1;
    }

    .owl-video-play-icon {
      background: $white;
      border-radius: 10rem;
      position: absolute;
      width: 36px;
      height: 36px;
      top: 50%;
      left: 50%;
      margin: 0;
      transform: translate3d(-50%,-50%,0);

      &:hover {
        transform: translate3d(-50%,-50%,0)
      }

      &::before {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-50%,0);
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 10px solid $primary-color;
      }

      &::after {
        position: absolute;
        content: '';
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-50%,0);
        width: 52px;
        height: 52px;
        border-radius: 10rem;
        border: 1px solid rgba($white, 0.2);
        box-shadow: 0px 0px 2.79px 0.21px rgba(255, 255, 255, 0.004);
      }
    }
  }
}
