.s-page-name {
  background-color: #cedfe6;
  min-height: 120px;
  display: flex;
  align-items: center;

  &__name {
    color: $primary-color;
    margin: 0;
    font-size: rem(22px);
    line-height: rem(40px);
    font-weight: 700;

    @media (min-width: $screen-lg) {
      font-size: rem(48);
      line-height: rem(50);
    }
  }
}