.s-promo {
  background-color: $primary-color;
  background-image: url('../img/bg-promo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $text-color--lighter;
  padding: 0 0.3rem;

  &__inner {
    position: relative;
    min-height: 495px;
    display: flex;
  }

  &__info {
    background-color: rgba($white, 0.9);
    min-height: 20rem;
    color: $primary-color;
    padding: 2rem 1rem;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-md) {
      text-align: left;
    }

    @media (min-width: $screen-md) {
      min-height: 778px;
      display: flex;
      flex-direction: column;
      max-width: 490px;
      flex: 0 0 490px;
    }
  }

  &__header {
    margin-bottom: 1rem;
    flex-grow: 0;

    @media (min-width: $screen-md) {
      padding: 1rem;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 4rem;
    }
  }

  &__emblem {
    margin-bottom: 0.8rem;

    @media (min-width: $screen-md) {
      display: inline-block;
    }

    > img {
      width: 50px;

      @media (min-width: $screen-md) {
        width: auto;
      }
    }
  }

  &__clinic-name {
    display: block;
    font-size: rem(10px);
    line-height: 1rem;
    font-weight: 400;

    @media (min-width: $screen-md) {
      display: inline-block;
    }

    @media (min-width: $screen-md) {
      font-size: rem(14px);
      line-height: rem(24px);
    }
  }

  &__content {
    flex-grow: 1;

    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 1rem;
    }
  }

  &__title {
    margin: 0;
    font-size: 1.375rem;
    line-height: 1.75rem;
    letter-spacing: 0.02em;
    color: $primary-color;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-md) {
      font-size: rem(30px);
      line-height: 2.5rem;
      margin-bottom: 0.5rem;
    }
  }

  &__desc {
    font-size: 0.75rem;
    line-height: 1.25rem;

    @media (min-width: $screen-md) {
      font-size: 1rem;
      line-height: 1.875rem;
    }
  }
}