mixin promo

  section.s-promo
    .s-promo__inner.container
      .s-promo__info
        .s-promo__header
          .row.align-items-center
            .col-12.col-xl-3
              .s-promo__emblem
                img(src='img/emblem.png', alt='')
            .col-12.col-xl-9
              strong.s-promo__clinic-name СПБГУ Клиника Высоких Медицинских Технологий им. Н.И. Пирогова. «Отделение Травматологии и Ортопедии 2»
        .s-promo__content
          h1.s-promo__title Лечение заболеваний опорно-двигательного аппарата
          p.s-promo__desc Принимаем пациентов со всех городов России. Сделали более 300 000 тысяч успешных операций. Стаж работы специалистов более 10 лет.
      .s-services
        .s-services__title Мы лечим боль:
        .s-services__slider
          +owl-carousel('service-slider')
            a.s-services__item(href='/')
              figure.s-services__item-figure
                .s-services__item-cover
                  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 103.74 146.87', width='33px', height='33px')
                    path(fill-rule='evenodd', d='M24.12 112.63l-3.51 6 .18.25c1.35 3 3.91 9.45 5.44 12.65.53.65 2-.77 2.76-2.78 1.76-4.84-3.22-12-4.87-16.08zm79.62-87.14c-1.88 2.18-22 22.3-21.25 26.84 2.88 14.51 2.72 10.15-1.53 24a99.45 99.45 0 0 1-5.27 11.62c-2.37 4.63-1.13 2.89-4.44 6.06-2.38 2.27-6 6-6.48 8.53.33 5.15-6.37 13.59-8.45 20.24-.91 2.93-.48 3.44-3.68 3.76-10.19 1-11.41-11.32-6.85-24.56a76.81 76.81 0 0 1 3.4-8.5c-.95-1-5.88-.89-7.15-.53-2.87.83-7.24 6-8.66 7.6 1.18 3.72 4.11 12.12 4.45 15.94a8.61 8.61 0 0 1-5.42 8.73c.22 10.15-7.87 11.78-8.17 8-.64 1.3 0 4.9-5.17 7.66l-1.32.68a33.91 33.91 0 0 1-3-3.09c-1 1.16-3.71 6-5.77 7.05-7.51 3.94-6.47-1.86-6.25-3.12.38-5.23.79-10.42 1.21-15.64a25.87 25.87 0 0 1-2.66-5.32 26.52 26.52 0 0 1-1-4.48c-.59-4.21-.39-3.24 1.59-7.25l4.77-9.64S12 88.85 13 84.15c1-5.15 2.73-7.44 2.9-7.66 7.94-10.14 16.17-20.07 23.83-30.42C43.92 40.41 49.91 31 52.1 28.25 57.92 21.11 69.86 12.11 77.36 0l3.23 2.7c-7.54 11.9-19.72 20.46-25.74 28.58-4.09 5.51-7.85 11.44-11.64 17.16-6.37 9.56-16.65 21.26-24 30.64S18 80.53 17.09 85c-1.09 5.23-6.61 16.85-6.63 16.88l-6.22 12.56a18 18 0 0 0 1.25 6.13l.63-4.75c1.83-4.77 6-11.27 8.84-17.31l3.42-9.42c1.37-3.78 1.58-4.74 4.5-4.18-2 5.61-3.84 11.49-6.32 16.92-2.56 5.67-5.56 10.8-7.45 15.38l-1.32 9.93c-.38 4.65-.74 9.28-1.08 13.94-.1 1.25-.48 1.74.72 1a10.71 10.71 0 0 0 4.3-4.34c1.95-3.5 2.36-7.29 2.53-11.22 0-.48 0-1 .07-1.43l.59-1.43C19.46 117 30.49 92.1 41.26 89a18.12 18.12 0 0 1 10.1.48c4.07 1.19 3.08 1.39 1.07 6.16-.91 2.16-2.29 5.37-2.15 7.25-2.86 3.26-4.27 13.68-1.16 17.48 2.72 3.34 4.63-1.28 5.56-4.72 1.26-4.72 5.85-8.23 6-14 .94-4.59 8.07-11.14 9.66-12.55 1-1.8 5.54-10.52 6.63-14.06C81 62 81 66.67 78.35 53.14 75.68 46 97.48 26.3 100.56 22.74l3.18 2.75zm-85 96.28a29.66 29.66 0 0 1 2.93 8.85c.28 2.77-.65 4.66-2.77 7a31.58 31.58 0 0 1-2.49-3c1-1.77.48-5.3.81-7.94.28-2.32 1.42-3.8 1.52-4.93zM30 103.62c2.61 6.38 7.39 15.29 1.05 18.53L26 109.81z')
                figcaption.s-services__item-caption Кисть


            a.s-services__item(href='/')
              figure.s-services__item-figure
                .s-services__item-cover
                  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 145.83 101.23', width='33px', height='33px')
                    path(fill-rule='evenodd', d='M145.83.65c-2.31 17.43-7.45 41.69-7.26 57.87.05 4.12 2.06 10.35 2.8 14.72a27 27 0 0 1-1 13.32c-3.85 10.74-14.7 12.32-24.79 10.85-9.3-1.35-17.62-6.23-26.44-6.69-9.46-.48-20.29 3.8-29.22 6.92-14.49 5-19.81 4.17-34.06 1-6.78 1.7-13.73 3.75-20.08-.4-3.2-2.08-7-6-5.46-10.19a9.22 9.22 0 0 1 6.5-5.46c2.79-.52 5.82.57 8.58.1a10.85 10.85 0 0 1 2.7-1.92c5.91-3.07 12.93-2 18.32-4.72A30.06 30.06 0 0 0 42 72.2c3-2.53 6.19-5.41 9.51-8.41 5.9-5.31 12.2-11 18.91-16.09 4.56-3.46 10.93-6.92 14.9-10.89a19.39 19.39 0 0 0 3.1-4c3.7-6.34 5.36-24.16 6.96-32.81l4.14.76c-1.72 9.34-3.31 27-7.43 34.18a23.09 23.09 0 0 1-3.78 4.86C84.05 44.06 77.84 47.37 73 51.05 66.54 56 60.25 61.62 54.36 66.92c-3.31 3-6.5 5.86-9.6 8.49a34.23 34.23 0 0 1-6.39 4.43c-6 3.09-12.79 1.86-18.31 4.72-2 1.06-4.69 4.6-6 6.19l-1.1.5-8.41-.16a12.3 12.3 0 0 0 3.57 3.67c5.3 3.47 12.16.94 17.76-.4 13.94 3.06 18.79 4.15 32.69-.7 9.59-3.34 20.6-7.67 30.82-7.14 9.38.48 17.31 5.34 26.81 6.72 7.94 1.15 17.14.55 20.24-8.1a22.6 22.6 0 0 0 .77-11.21c-.8-4.76-2.79-10.78-2.84-15.36-.2-16.66 4.94-40.67 7.29-58.46l4.17.54zm-15.83 36l-4.16-.7c-2.12 12.62-3.69 19.23-5.91 21-1.52 1.22-4.54-1.17-9.83-6.33l-2.93 3c7 6.89 11.45 9.75 15.38 6.62 3.24-2.57 5.15-9.9 7.45-23.59zM13.48 87.05c-1.5 0-5.32-.62-6.35-.14a6.42 6.42 0 0 0-2 1.38l7.22.14z')
                figcaption.s-services__item-caption Стопа


            a.s-services__item(href='/')
              figure.s-services__item-figure
                .s-services__item-cover
                  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 112.11 155.9', width='33px', height='33px')
                    path(fill-rule='evenodd', d='M78.56 1.64A325.82 325.82 0 0 1 97.18 42c2.07 5.33 4.47 13.34 7 18.5 3.38 6.95 7.09 9.11 7.87 18.77a24.94 24.94 0 0 1-2.68 13.38 77.42 77.42 0 0 1-4.87 8 66.33 66.33 0 0 0-5.38 9.11c-6.57 15.13-12.69 30.38-19.74 45.24l-3.82-1.8c7-14.81 13.15-30 19.68-45.06a68.22 68.22 0 0 1 5.76-9.76 78.56 78.56 0 0 0 4.61-7.57 21.06 21.06 0 0 0 2.25-11.17 25.38 25.38 0 0 0-.53-3.53c-2.5 1.42-2.3 3.49-2.66 6.8-.38 3.59-.85 8-2.94 10.83l-2.3-1.64c1.65-2.28 2.07-6.23 2.42-9.48.26-2.42.48-4.5 1.19-5.7a2.94 2.94 0 0 1 4.26-.83c-1.29-5.72-4.31-8.34-6.93-13.72-2.55-5.23-5-13.4-7.11-18.81A324.15 324.15 0 0 0 74.87 3.67l3.69-2zM68.38 63.56c-2.37 1.27-1 3.31.39 5.21A94 94 0 0 0 74.85 76c4.54 5.12 7.52 8.49 5.87 11.09s-3.18 5-4.75 7.58c-2 3.29-.59 3.4.56 4.49 2.14-3.55 4.34-7.06 6.56-10.57 2.78-4.37-.76-8.37-6.14-14.45a117 117 0 0 1-8.57-10.54zm-31.74 91.71c2-13 2.18-25.18 8.41-37.16 5-9.7 15.49-20.11 22-29.54 1.77-2.56-1.37-8.21-2.66-10.15a116.29 116.29 0 0 0-11.11-13.49A88.88 88.88 0 0 0 42 55.41C24.16 41.87 9.22 22.17 0 1.73L3.84 0c8.87 19.65 23.46 39 40.71 52.07a91.27 91.27 0 0 1 11.81 10 119.17 119.17 0 0 1 11.57 14C70.4 79.81 73.6 86.55 70.54 91c-6.39 9.22-16.85 19.66-21.75 29.09-6.06 11.66-6 23.28-8 35.85z')
                figcaption.s-services__item-caption Колено

            a.s-services__item(href='/')
              figure.s-services__item-figure
                .s-services__item-cover
                  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 124.43 147.3', width='33px', height='33px')
                    path(fill-rule='evenodd', d='M46.69 43c.07 1.32.22 2.8.37 4.37.77 7.58 1.74 17.24-4.27 26.8l-2.43-2.25C45.59 63.6 44.7 54.74 44 47.79c-.16-1.62-.32-3.14-.39-4.58l3.08-.2zM76.45.51c0 .19-.06.46-.13 1C74.06 18 89.3 21.94 101.6 26.42c10.45 3.8 15.59 5.67 19.89 16.76 4 10.26 3.07 22 2.12 33.95-.72 9.17-1.46 18.52 0 27.26l-4.15.71c-1.6-9.26-.84-18.87-.09-28.3.91-11.52 1.79-22.75-1.84-32.11s-8.16-10.95-17.4-14.31c-14.54-5.29-30.7-9.9-28-29.42 0-.15 0-.16.12-1l4.19.51zM22 145.08c1.35-3 2.93-6.41 4.3-9.29 1.05-2.22 2-4.07 2.52-5.08a17 17 0 0 0 1.74-7.25 44 44 0 0 0-.87-10.75c-2-10.44-4-17.28-5.67-23.24-2.27-8-4.11-14.41-5.13-25.91l4.19-.36c1 11 2.77 17.31 5 25.11 1.71 6 3.68 12.93 5.75 23.61a48.8 48.8 0 0 1 .94 11.77 21.2 21.2 0 0 1-2.27 9.08c-.53.95-1.4 2.71-2.4 4.82-1.32 2.78-2.89 6.23-4.25 9.22L22 145.08zm81.46-85.68c-3.29 7.39-3.38 12.45-5.08 19.76-1.1 4.7-2.63 9.63-4.15 14.52-4.28 13.82-8.49 27.4-3.33 36.5 5 8.88 8.88 17.09 8.89 17.12l3.81-1.82s-3.85-8.23-9-17.38c-4.26-7.52-.32-20.24 3.7-33.18 1.51-4.89 3-9.81 4.16-14.57 1.19-5 1.76-10.84 3.35-15.42 0 0 1.38-3.48 1.53-3.82l-3.84-1.71zM51.39 0L47.2.51c2.07 16.83-9.92 20.61-21.54 24.28C15.51 28 5.62 31.11 3.33 41.73c-2.09 9.66-2 20.66-1.86 31.89.11 10.41.21 21-1.47 30.77l4.16.71C5.89 95 5.78 84.21 5.67 73.59c-.11-11-.22-21.73 1.78-31 1.77-8.2 10.52-11 19.49-13.79C40.19 24.63 53.88 20.31 51.39 0zm11.87 66.14c2.22 23 1.66 37.84 1.11 52.26-.31 8-.61 15.92-.41 24.95l-4.2.09c-.2-9.18.1-17.11.4-25.19.55-14.28 1.11-29-1.09-51.71l4.19-.4zm16.53-23.33l-3.05.6c.16 1.1.21 2.56.27 4.3.23 6.54.58 16.61 6.77 26.47l2.44-2.25C80.63 63 80.3 53.67 80.09 47.57a46.16 46.16 0 0 0-.3-4.76z')
                figcaption.s-services__item-caption Спина

            a.s-services__item(href='/')
              figure.s-services__item-figure
                .s-services__item-cover
                  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 114.07 145.21', width='33px', height='33px')
                    path(fill-rule='evenodd', d='M113.91 80.08s-12.31.43-18.85 4c-6.74 3.7-15.31 8.33-15.33 8.34l-1 .53-1-.53a17.41 17.41 0 0 0-13.29-.84c-2.86 1.06-5.26 2.15-7.52 3.17a60.34 60.34 0 0 1-12.41 4.48c-.3 1.62-.64 3.2-1 4.62-1.37 5.6-4.2 3.26-5.33 3.19 1.59-3.66 2.57-10.3 3.11-14.48a132.39 132.39 0 0 0 .9-22.9c-.46-10.54.93-14.85 2.41-19.44A74.56 74.56 0 0 1 47.94 41c1.69-3.63 2.69-5.93 5.49-7.89 1.51-.88 1.55 1 4.83 1.43a9.31 9.31 0 0 0 4.07-.44 47.24 47.24 0 0 0 9.52-4.88l.21-.09L82 27.57c2.53-.75 3.35-1.84 3.13-2.86-.32-1.54-3.27-1.77-6.47-1-.83.78-2.25 2.56-2.71 2.87-.82.79-3.05.19-3.36.05a30.79 30.79 0 0 0-6.29-1.86l-.55.07c-1.19 1.53-3.15 4.44-5.23 5.68-1.08.64-4.4 1.3-5.46-.43a15 15 0 0 0 7.3-5.09 33.2 33.2 0 0 0 4.11-5.59A4.27 4.27 0 0 0 65 14.78l-.68-.47c.69-1 1.83-.71 2.83.41a5.59 5.59 0 0 1 1.39 2.57c.19.1.86-.18 1.14-.15 2.34-.78 1.52-4.35 1.84-6 1.2 1.09 1.63 4.37.73 5.89-.17.35.47.35.78.38a25.08 25.08 0 0 0 3.44-.19 7.49 7.49 0 0 1-3.54 1.21l-.2.27a13.43 13.43 0 0 1 1.73 3.42C73 20.39 72.15 19 70.55 18.78l-2 .09c.39 1.07-1.25 3.46-1.25 3.47a23.85 23.85 0 0 1 4 .76c4.06 1.08 2.62 2.16 5.9-1.06A57.53 57.53 0 0 0 81.68 17c.35-.75-1.38-3.55-1.56-3.75l-.54-.27s-3.67-1.98-3.94-2.16A28.14 28.14 0 0 1 70.48 7c-1.41-1.36-2.63-2.47-3.74-2.73s-2.2.18-4 1.7c-2.5 2.14-7.22 6.63-11.44 10.64-.57.55-8 7.62-8.18 7.62C39.9 27 38.74 28.29 37 32.42c-1.54 3.67-5.82 13.16-9.28 20.82-1.91 4.22-3.59 7.94-4 8.93-1.05 2.35-2.08 4.23-3.15 6.16A63.51 63.51 0 0 0 15 80.66c-3.2 9.89-7.23 20.26-9.7 30.34a53 53 0 0 0-1.07 5.84 6.63 6.63 0 0 0 .4 3.07c.71 2 2.09 2.38 3.81 3.33a56.87 56.87 0 0 1 9.3 6.07c3.77 3.17 14.36 4.23 14.39 4.24h.07c7.1 1 12.86 1.63 18.21 2 5.71.35 12.83.55 18.62-.47 6.19-1.1 12.69-4 18-6.36 4-1.8 7.42-3.31 9.84-3.68l5.85-.9 1.24-.19.75 1a47.76 47.76 0 0 1 4.77 7.24 67.59 67.59 0 0 1 4.59 11.81l-4 1.22a64.41 64.41 0 0 0-4.26-11.14 40.57 40.57 0 0 0-3.65-5.65l-4.61.71c-1.89.29-5 1.69-8.76 3.35-5.56 2.47-12.34 5.5-19 6.68-6.1 1.07-13.51.88-19.54.51-5.44-.33-11.28-1-18.47-2-.45 0-12-1.25-16.66-5.21a54.1 54.1 0 0 0-8.64-5.61c-2.77-1.54-4.54-2.31-5.72-5.56-1.36-3.75-.38-7.62.54-11.36C3.77 99.57 7.69 89.57 11 79.35a67 67 0 0 1 5.86-13c1.06-1.92 2.09-3.79 3-5.83 1.32-3 2.59-5.79 4-9 3.45-7.64 7.73-17.1 9.23-20.71 2.41-5.77 4.58-7.55 7.2-9.69 2.53-2 5.69-5.24 8.11-7.54 4.25-4 9-8.58 11.6-10.79 3-2.55 5.42-3.15 7.71-2.6s3.84 2 5.7 3.8a33.84 33.84 0 0 0 8 5.16 3.58 3.58 0 0 1 1.94 1.57 13.6 13.6 0 0 1 1.7 6.57c-.06 1.38-1.55 2.42-2.52 3.31 3.23-.15 6.12 0 7 2.82 1.41 4.59-3 7.69-6.9 8.3l-9.38 1.47c-2.57 1.11-5.37 3.07-7.94 4.08-3.24 1.27-8.15 2-11 .63a42 42 0 0 0-2.57 4.88 73 73 0 0 0-3.14 8.79c-1.36 4.23-2.63 8.19-2.21 18a184.84 184.84 0 0 1-.77 25.05 63.36 63.36 0 0 0 9.57-3.69c2.26-1 4.67-2.12 7.78-3.28a21.72 21.72 0 0 1 15.68.58C81 87 87.27 83.57 93 80.41c7.4-4.06 20.72-4.53 20.76-4.53z')
                figcaption.s-services__item-caption Плечо

            a.s-services__item(href='/')
              figure.s-services__item-figure
                .s-services__item-cover
                  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 87.57 146.87', width='33px', height='33px')
                    path(fill-rule='evenodd', d='M30.09 72a24.67 24.67 0 0 1 13.54 10.85c2.86-3.25 8.76-6.44 12.64-8.26l1.37 3.12a59.69 59.69 0 0 0-7.89 4.45c-1.87 2.19-3.45 2.71-3.51 8.24-.1 9.52 1 22.06-.55 34.63-.51 6.07-1.07 12.7-1.06 20.74h-4.21c0-8.39.56-15 1.07-21.09.81-9.67 1.31-26.26 0-35.89-.41-3.06-1.73-6.05-5.62-9.48a18.18 18.18 0 0 0-6.7-3.71l.88-3.6zm14.55-40.94c.37-3.65-.91-5.53-4-5.21 1-1.9 3-3.53 5.07-2 1.88 1.39 2.29 5.15 2.12 7.23h-3.19zM74.36.71C70.92 20.6 73.77 21.37 79.7 39c1.76 5.2 2.3 11 4.3 16.71a54.72 54.72 0 0 1 3.36 16c1.09 14.26-1.68 24.44-5 36.61-.71 2.59-1.43 5.26-1.9 7.1-.56 2.16-.67 2.64-1.77 6.92-2.53 9.88-5.08 19.85-6.67 24.55l-4-1.35c1.51-4.47 4-14.4 6.57-24.24l1.78-6.92c.81-3.11 1.37-5.18 1.91-7.16 3.2-11.8 5.88-21.66 4.84-35.2a50.76 50.76 0 0 0-3.14-15c-1.93-5.74-2.53-11.57-4.27-16.75C69.41 21.58 66.56 21.05 70.2 0l4.16.71zM17.37 0c3.47 20.09 2.68 16-5.5 40.3-1.73 5.13-2.33 11-4.28 16.75A50.76 50.76 0 0 0 4.45 72c-1 13.54 1.64 23.4 4.84 35.2 3.42 12.56 6.16 26.21 10.26 38.32l-4 1.35C11.42 134.65 8.66 121 5.22 108.3 1.91 96.13-.85 86 .24 71.69a54.72 54.72 0 0 1 3.36-16C5.55 49.92 6.13 44.16 7.87 39c6.24-18.56 8.71-18.8 5.34-38.29z')
                figcaption.s-services__item-caption Таз/бедро
