.s-pagination {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

  &__list {
    list-style-type: none;
    display: inline-block;

    &:after {
      display: table;
      content: '';
      clear: both;
    }
  }

  &__item {
    display: inline-block;
    margin: 0;
    text-align: center;
    float: left;
    vertical-align: bottom;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }

    a,
    span {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      border: 1px solid rgb(225, 224, 224);
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1.2em;
      color: currentColor;
      min-width: 2.25rem;
      font-size: rem(14px);
      color: #b2b3b3;

      @media (min-width: $screen-sm) {
        min-width: 3rem;
      }
    }

    &:not(.s-pagination__item--active):hover {

      a {
        background-color: transparent;
        border-color: $primary-color;
        text-decoration: none;
      }
    }

    &--active {

      a,
      span {
        background-color: $primary-color;
        color: $white;
        text-decoration: none;
        border-color: $primary-color;
      }
    }

    &--prev {

      svg {
        transform: rotate3d(0,0,1,180deg);
      }
    }
  }
}