.s-briefly {
  margin-bottom: 3rem;

  &__photo {
    width: 100%;
    height: 346px;
    margin-bottom: 1rem;

    > img {
      object-fit: cover;
      object-position: 50% 0;
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    font-size: rem(15px);
    line-height: rem(36px);
    color: $primary-color;
    font-weight: 500;
    display: block;

    @media (min-width: $screen-lg) {
      font-size: rem(18px);
    }
  }

  &__desc-list {
    font-size: rem(13px);
    line-height: rem(24px);
    margin-bottom: 2rem;
  }

  &__desc-term,
  &__desc-desc {
    display: inline;
    font-variant-numeric: lining-nums;
  }

  &__desc-desc +
  &__desc-term::before {
    content: '\A';
    white-space: pre;
  }

  &__desc-desc +
  &__desc-desc::before {
    content: ', ';
    font-weight: normal;
    margin-left: -.25em;
  }

  &__desc-term {
    margin: 0;
    font-weight: 400;

    &::after {
      content: ':';
    }
  }

  &__desc-desc {
    margin: 0;
    font-weight: 700;
    color: $primary-color;

    &--weight-normal {
      font-weight: 400;
    }
  }
}