.s-breadcrumb {
  padding: 0;
  list-style: none;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: $primary-color;
  font-weight: 300;
  font-style: italic;
  font-size: rem(12px);
  line-height: rem(18px);

  a {
    color: currentColor;
    text-decoration: none;

    &:hover,
    &:focus {
      color: currentColor;
      text-decoration: none;
    }
  }

  &__item {
    display: inline-block;
    margin: 0;
    margin-right: 0.3rem;
    white-space: nowrap;

    &:not(:last-child):after {
      content: '/';
      display: inline-block;
      margin-left: 0.5rem;
      color: currentColor;
    }
  }
}