.s-page-header {
  background-color: $white;
  color: $primary-color;
  padding: 0.5rem 0;

  &__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    @media (min-width: $screen-md) {
      justify-content: space-between;
    }
  }

  &__subtitle {
    color: currentColor;
    font-weight: normal;
    font-size: 0.875rem;
    margin: 0;
    margin-bottom: 0.5rem;
    display: none;

    @media (min-width: $screen-md) {
      display: block;
    }

    > svg {
      vertical-align: text-top;
      margin-right: 0.5rem;
    }
  }

  &__e-mail {
    display: none;

    @media (min-width: $screen-md) {
      display: block;
      font-size: rem(13px);
      margin-bottom: 1rem;
    }

    a {
      color: currentCOlor;
    }
  }

  &__address {
    font-size: rem(13px);
    display: none;

    @media (min-width: $screen-md) {
      display: block;
    }

    address {
      margin: 0;
    }
  }

  &__phones {
    line-height: rem(24px);
    font-size: rem(12px);
    margin-left: auto;

    @media (min-width: $screen-md) {
      margin: 0;
      font-size: rem(13px);
    }

    > ul {

      > li {
        margin: 0;
        font-variant-numeric: lining-nums;

        &:nth-child(3) {
          display: none;

          @media (min-width: $screen-md) {
            display: block;
          }
        }

        > a {
          display: inline-block;
          color: currentColor;
        }

        > span {
          font-size: 0.875em;
          display: none;
        }
      }
    }
  }

  &__feedback {
    display: none;

    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      max-width: 220px;
    }

    .s-language-switcher {
      max-width: 50%;
      flex: 0 0 50%;
    }

    .s-btn {
      margin-bottom: 1rem;
      max-width: 100%;
      flex: 0 0 100%;
    }

    .s-social {
      max-width: 50%;
      flex: 0 0 50%;
    }

    .s-social__list {
      display: flex;
      flex-direction: row;
    }

    .s-social__item {

      &:not(:first-child) {
        margin-left: 0.5rem;
      }
    }
  }

  &__hamburger {
    margin-left: 1rem;

    @media (min-width: $screen-md) {
      display: none;
    }
  }
}