mixin page-header(mods)

  //- Param:
    mods {string} - modifiers

  //- Usage:
    +page-header()
      div header content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header(class=allMods, role='banner')&attributes(attributes)
    .s-page-header__inner.container

      .s-page-header__logo
        +logo('/')
          img(src='img/logo.png', alt='Logo')

      .s-page-header__addresses
        .s-page-header__e-mail
          b.s-page-header__subtitle
            +svg-icon('mail', 20, 20)
            | E-mail
          a(href='emailto:admim@orthoteam.ru') Admim@orthoteam.ru
        .s-page-header__address
          b.s-page-header__subtitle
            +svg-icon('location', 20, 20)
            | Адрес
          address Санкт-Петербург, В.О. Кадетская линия д.13/15

      .s-page-header__phones
        b.s-page-header__subtitle
          +svg-icon('phone', 20, 20)
          | Телефон
        ul
          li
            a(href='tel:+79052228046') +7 (905) 222-80-46
            |
            span  (с 8:00 до 18:00)
          li
            a(href='tel:+79626868300') +7 (962) 686-83-00
            |
            span  (с 8:00 до 18:00)
          li
            a(href='tel:6760115') 676-01-15
            |
            span  (с 9:00 до 16:00)

      .s-page-header__feedback
        +btn('Заказать звонок')(type='button', data-toggle='modal', data-target='#exampleModal')
        +social('colored')
        +language-switcher()

      .s-page-header__hamburger
        +hamburger('Show main navigation', 'mobile-menu', 's-mobile-menu--is-shown')

