mixin mobile-menu

  #mobile-menu.s-mobile-menu
    .s-mobile-menu__inner
      .s-mobile-menu__top
        .s-mobile-menu__logo
          +logo('/')
            img(src='img/logo-light.png', alt='Logo')
      .s-mobile-menu__middle
        .s-mobile-menu__nav
          ul
            li: a(href='/') Направления
            li: a(href='/') Запись на прием
            li: a(href='/') Консультация
            li: a(href='/') О нас
            li: a(href='/') Статьи
            li: a(href='/') Контакты
        .s-mobile-menu__language-switcher
          +language-switcher('light')
      .s-mobile-menu__bottom
        .s-mobile-menu__addresses
          .s-mobile-menu__e-mail
            b.s-mobile-menu__subtitle
              +svg-icon('mail', 20, 20)
              | E-mail
            a(href='emailto:admim@orthoteam.ru') Admim@orthoteam.ru
          .s-mobile-menu__address
            b.s-mobile-menu__subtitle
              +svg-icon('location', 20, 20)
              | Адрес
            address Санкт-Петербург, В.О. Кадетская линия д.13/15
        .s-mobile-menu__social
          +social