.s-mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: $primary-color;
  color: $white;
  will-change: transform;
  transform: translate3d(100%,0,0);
  transition: transform 0.5s ease-in-out 0s;

  @media (min-width: $screen-md) {
    display: none;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
  }

  &__top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1rem;
  }

  &__middle {
    padding: 1rem;
  }

  &__nav {
    margin-bottom: 1rem;

    > ul {

      > li {
        margin: 0;

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        > a {
          display: block;
          font-size: 1rem;
          line-height: rem(30px);
          color: $white;

          &:hover,
          &:active {
            font-weight: 700;
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__bottom {
    background-color: #144568;
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    line-height: rem(24px);
  }

  &__subtitle {
    color: currentColor;
    display: block;
    font-weight: normal;
    margin: 0;
    margin-bottom: 0.5rem;

    > svg {
      vertical-align: text-top;
      margin-right: 0.5rem;
    }
  }

  &__e-mail {
    margin-bottom: 1rem;

    > a {
      color: currentColor;
    }
  }

  &__social {
    padding-left: 2rem;

    .s-social__item {

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  &--is-shown {
    transform: translate3d(0,0,0);
  }
}