.s-btn {
  position: relative;
  display: inline-block;
  background-color: $primary-color--variant;
  background-image: none;
  color: $white;
  margin: 0;
  padding: 0.5em 1.5em;
  border-radius: 10rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
  min-width: 12rem;

  &:hover,
  &:focus {}

  &:active,
  &:focus {}

  &:visited {}

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.s-btn--disabled {
      pointer-events: none;
    }
  }
}

.кнопка_покой {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1305px;
  height: 1840px;
  z-index: 128;
}
.Заказать_звонок_copy {
  font-size: 16px;
  font-family: "Proxima Nova";
  color: rgb(254, 254, 254);
  line-height: 2.083;
  position: absolute;
  left: 147.612px;
  top: 727.836px;
  z-index: 127;
}
.Rectangle_6_copy {
  background-color: rgb(36, 154, 206);
  position: absolute;
  left: 105px;
  top: 725px;
  width: 214px;
  height: 40px;
  z-index: 126;
}
