//- !
//- Attention! This file is generated automatically.
//- Do not write anything here manually, all such edits will be lost.

include ../blocks/page/page.pug
include ../blocks/btn/btn.pug
include ../blocks/logo/logo.pug
include ../blocks/page-header/page-header.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/promo/promo.pug
include ../blocks/dropcap/dropcap.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/form/form.pug
include ../blocks/field-text/field-text.pug
include ../blocks/pagination/pagination.pug
include ../blocks/table/table.pug
include ../blocks/testimonials/testimonials.pug
include ../blocks/social/social.pug
include ../blocks/owl-carousel/owl-carousel.pug
include ../blocks/hamburger/hamburger.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/field-radio/field-radio.pug
include ../blocks/style-guide/style-guide.pug
include ../blocks/field-select/field-select.pug
include ../blocks/field-checkbox/field-checkbox.pug
include ../blocks/field-actions/field-actions.pug
include ../blocks/slick-carousel/slick-carousel.pug
include ../blocks/date/date.pug
include ../blocks/svg-icon/svg-icon.pug
include ../blocks/external-link/external-link.pug
include ../blocks/scroll-link/scroll-link.pug
include ../blocks/field-toggler/field-toggler.pug
include ../blocks/advantages/advantages.pug
include ../blocks/doctors/doctors.pug
include ../blocks/get-a-program/get-a-program.pug
include ../blocks/services/services.pug
include ../blocks/main-subtitle/main-subtitle.pug
include ../blocks/mobile-menu/mobile-menu.pug
include ../blocks/main-slider/main-slider.pug
include ../blocks/name/name.pug
include ../blocks/briefly/briefly.pug
include ../blocks/info/info.pug
include ../blocks/doctor/doctor.pug
include ../blocks/doctor-information/doctor-information.pug
include ../blocks/language-switcher/language-switcher.pug
include ../blocks/video/video.pug
include ../blocks/our-doctors/our-doctors.pug
include ../blocks/about-us/about-us.pug
include ../blocks/doctor-card/doctor-card.pug
include ../blocks/work/work.pug
include ../blocks/main-modal/main-modal.pug
