.s-info {
  box-shadow: 0px 7px 13px 0px rgba(86, 110, 121, 0.17);
  margin-bottom: 3rem;
  border-radius: 10px;

  ul {

    li {

      &:not([class]) {
        margin-left: 2rem;
        position: relative;

        &::before {
          position: absolute;
          content: '';
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: currentColor;
          left: -2rem;
          top: 0.5rem;
          transform: translate3d(50%,0,0);
        }
      }
    }
  }

  &__content {
    font-size: rem(12px);
    line-height: rem(22px);
    font-weight: 300;
    padding: 1rem;

    @media (min-width: $screen-lg) {
      font-size: rem(13px);
      line-height: rem(24px);
      padding: 2rem 2rem 3rem;
    }
  }

  &__subtitle {
    font-size: rem(14px);
    line-height: rem(24px);
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: $primary-color;
    font-weight: 700;

    &::after {
      content: ':';
    }
  }

  .nav {
    flex-direction: column;

    @media (min-width: $screen-md) {
      flex-direction: row;
      border-bottom: 1px solid #efeeee;
      padding-left: 1rem;
    }

    @media (min-width: $screen-lg) {
      padding-left: 2rem;
    }
  }

  .nav-item {
    margin: 0;

    @media (min-width: $screen-md) {

      &:not(:first-child) {
        margin-left: 2rem;
      }
    }
  }

  .nav-link {
    border: 0;
    font-size: rem(14px);
    line-height: rem(24px);
    color: #acabab;
    position: relative;
    letter-spacing: 0.02em;

    &::after {
      position: absolute;
      content: '';
      left: 0;
      width: 0;
      bottom: 0;
      height: 100%;
      background-color: $primary-color;
      transition: all 0.125s ease-out 0s;

      @media (min-width: $screen-md) {
        width: 100%;
        height: 0;
      }
    }

    &:hover {
      color: $primary-color;
    }

    &.active {
      color: $primary-color;
      font-weight: 700;

      &::after {
        width: 2px;
        height: 100%;

        @media (min-width: $screen-md) {
          width: 100%;
          height: 2px;
        }
      }
    }

    @media (min-width: $screen-md) {
      padding: 1rem 0;
    }
  }
}
