.s-main-subtitle {
  color: $primary-color;
  font-size: rem(22px);
  line-height: rem(36px);
  font-weight: 500;
  margin-bottom: 1.5rem;
  text-align: center;

  @media (min-width: $screen-sm) {
    font-size: rem(30px);
    line-height: rem(36px);
    margin-bottom: 3.5em;
  }

  span {
    position: relative;

    &::before,
    &::after {

      @media (min-width: $screen-sm) {
        position: absolute;
        content: '';
        background-color: #f5f5f5;
        height: 2px;
        width: 128px;
        top: 50%;
        transform: translate3d(0,-50%,0);
      }
    }

    &::before {

      @media (min-width: $screen-sm) {
        right: 120%;
      }
    }

    &::after {

      @media (min-width: $screen-sm) {
        left: 120%;
      }
    }
  }
}