.s-services {
  background: $primary-color;
  box-shadow:
    0px 5px 16.92px 1.08px
    rgba(167, 174, 185, 0.58);
  border-radius: 15px;
  text-align: center;
  padding: 1rem 0;
  position: absolute;
  bottom: -96px;
  left: 0;
  width: 100%;
  height: 177px;

  @media (min-width: $screen-lg) {
    display: flex;
    flex-direction: row;
    bottom: -90px;
    height: 190px;
    padding: 1rem 1.5rem 1rem 2.5rem;
    align-items: center;
  }

  &__title {
    font-size: rem(22px);
    line-height: rem(42px);
    letter-spacing: 0.02em;
    text-align: center;
    font-weight: 500;

    @media (min-width: $screen-lg) {
      font-size: 2.25rem;
      text-align: left;
      flex: 0 0 15%;
      max-width: 15%;
    }
  }

  &__slider {

    @media (min-width: $screen-lg) {
      flex: 0 0 85%;
      max-width: 85%;
    }
  }

  &__item {
    display: block;
    margin: auto;
    position: relative;
    padding: 1rem 0;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  &__item-figure {
    background-color: transparent;
    color: $white;
    border: 1px solid $white;
    width: 70px;
    height: 70px;
    border-radius: 10rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease-in 0s;

    @media (min-width: $screen-lg) {
      width: 132px;
      height: 132px;
    }

    .owl-item.center &,
    &:hover,
    &:active {
      background-color: $white;
      color: $primary-color;
      transform: scale(1.2);
      box-shadow: 0px 0px 8.91px 0.09px rgba(4, 13, 17, 0.14);

      @media (min-width: $screen-lg) {
        transform: none;
      }
    }
  }

  &__item-cover {

    > svg {
      display: block;

      @media (min-width: $screen-lg) {
        width: 54px;
        height: 67px;
      }
    }
  }

  &__item-caption {
    font-size: rem(12px);
    line-height: rem(20px);
    letter-spacing: 0.02em;
    color: currentColor;

    @media (min-width: $screen-lg) {
      font-size: rem(14px);
      line-height: rem(36px);
    }
  }
}
