.s-logo {
  display: inline-block;
  white-space: nowrap;

  img {
    display: block;
    width: 100px;

    @media (min-width: $screen-md) {
      width: 140px;
    }

    @media (min-width: $screen-lg) {
      width: 200px;
    }
  }
}