mixin page-footer(mods)

  //- Param:
    mods {string} - modifiers

  //- Use:
    +page-footer()
      div footer content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.s-page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .container
      .row
        .s-page-footer__block.col-12.col-lg-3
          .s-page-footer__about
            a.s-page-footer__emblem(href='/index.html')
              img(src='img/emblem.png', alt='', width='91px', height='113px')
            strong.s-page-footer__desc Клиника высоких медицинских технологий им. Н.И. Пирогова Отделение Травматолгии и Хирургии 2
        .s-page-footer__block.col-12.col-lg-3
          .s-page-footer__feedback
            +form
              +fieldset('Обратная связь')
                +field-text({
                  attrs: {
                    id: 'name',
                    name: 'name',
                    placeholder: 'Ваше имя',
                    required: ''
                  }
                })
                +field-text({
                  attrs: {
                    id: 'phone',
                    name: 'phone',
                    type: 'tel',
                    placeholder: 'Телефон',
                    required: ''
                  }
                })
                +field-actions
                  +btn('Отправить')(type='submit')
        .s-page-footer__block.col-12.col-lg-2
          nav.s-page-footer__nav
            ul.s-page-footer__nav-list
              li: a(href='/') Направления
              li: a(href='/') Запись на прием
              li: a(href='/') Консультация
              li: a(href='/') О нас
              li: a(href='/') Статьи
              li: a(href='/') Контакты
        .s-page-footer__block.col-12.col-lg-4
          .s-page-footer__contacts
            .s-page-footer__e-mail
              h3.s-page-footer__address-subtitle
                +svg-icon('mail', 20, 20)
                | E-mail
              a(href='emailto:admim@orthoteam.ru') Admim@orthoteam.ru
            .s-page-footer__address
              h3.s-page-footer__address-subtitle
                +svg-icon('location', 20, 20)
                | Адрес
              address Санкт-Петербург, В.О. Кадетская линия д.13/15
            .s-page-footer__phones
              h3.s-page-footer__address-subtitle
                +svg-icon('phone', 20, 20)
                | Телефон
              ul
                li
                  a(href='tel:+79052228046') +7 (905) 222-80-46
                  |
                  span  (с 8:00 до 18:00)
                li
                  a(href='tel:+79626868300') +7 (962) 686-83-00
                  |
                  span  (с 8:00 до 18:00)
                li
                  a(href='tel:6760115') 676-01-15
                  |
                  span  (с 9:00 до 16:00)
