.s-page-footer {
  background-color: $bg-color--lighter;
  color: $primary-color;
  text-align: center;

  @media (min-width: $screen-md) {
    text-align: left;
    padding: 2rem 0;
  }

  &__block {
    position: relative;
    padding: 2rem 0;

    @media (min-width: $screen-md) {
      padding: 0 2rem;
    }

    &:not(:last-child) {

      &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 15%;
        width: 70%;
        background-color: $white;
        height: 1px;

        @media (min-width: $screen-md) {
          bottom: 0;
          left: 100%;
          width: 1px;
          height: 100%;
        }
      }
    }
  }

  &__about {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  &__emblem {
    height: 100px;
    display: block;

    > img {
      object-fit: contain;
      object-position: 50% 50%;
      width: 100%;
      height: 100%;
    }
  }

  &__desc {
    font-weight: normal;
    display: block;

    @media (min-width: $screen-md) {
      text-align: center;
    }
  }

  &__feedback {
    padding: 0 3rem;

    input {
      text-align: center;
    }

    @media (min-width: $screen-md) {
      padding: 0;

      input {
        text-align: left;
      }
    }
  }

  &__nav {
    font-size: 0.875rem;
    color: $primary-color;
    line-height: 1.5rem;

    > ul {

      > li {
        margin: 0;

        &:not(:first-child) {
          margin-top: 0.5rem;
        }

        a {
          display: block;
          color: currentColor;
        }
      }
    }
  }

  &__address-subtitle {
    color: currentColor;
    font-weight: normal;
    font-size: 0.875rem;
    margin: 0;

    > svg {
      vertical-align: text-top;
      margin-right: 0.5rem;
    }
  }

  &__e-mail {
    margin-bottom: 1rem;

    > a {
      color: currentColor;
    }
  }

  &__address {
    margin-bottom: 1rem;
  }

  &__phones {
    line-height: 1.5rem;

    > ul {

      > li {
        margin: 0;

        > a {
          display: inline-block;
          color: currentColor;
        }

        > span {
          font-size: 0.875em;
        }
      }
    }
  }
}