mixin our-doctors

  section.s-our-doctors

      h2.s-main-subtitle: span Врачи

      .container
        .s-our-doctors__main-slider
          +owl-carousel().s-our-doctors__slider.s-main-slider
            +doctor-card
            +doctor-card
            +doctor-card
            +doctor-card
            +doctor-card

      .s-our-doctors__mobile-slider
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              +doctor-card
            .swiper-slide
              +doctor-card
            .swiper-slide
              +doctor-card
            .swiper-slide
              +doctor-card
            .swiper-slide
              +doctor-card
            .swiper-slide
              +doctor-card
            .swiper-slide
              +doctor-card
            .swiper-slide
              +doctor-card
            .swiper-slide
              +doctor-card
            .swiper-slide
              +doctor-card

          .button-prev
            svg(width='5px', height='10px', viewbox='0 0 50 80', xml:space='preserve')
              polyline(fill='none', stroke='#525f7f', stroke-width='1', stroke-linecap='round', stroke-linejoin='round', points='35.63,75.8 0.375,38.087 35.63,0.375 ')

          .button-next
            svg(width='5px', height='10px', viewbox='0 0 50 80', xml:space='preserve')
              polyline(fill='none', stroke='#525f7f', stroke-width='1', stroke-linecap='round', stroke-linejoin='round', points='35.63,75.8 0.375,38.087 35.63,0.375 ')

