.s-our-doctors {
  padding-bottom: 3rem;

  &__main-slider {
    display: none;

    @media (min-width: $screen-sm) {
      display: block;
    }
  }

  &__mobile-slider {
    display: block;

    @media (min-width: $screen-sm) {
      display: none;
    }

    .swiper-container {
      width: 100%;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
    }

    .swiper-container-3d .swiper-slide-shadow-left,
    .swiper-container-3d .swiper-slide-shadow-right {
      background: none;
    }

    .button-prev,
    .button-next {
      top: 50%;
      position: absolute;
      z-index: 1000;
      background-color: white;
      border-radius: 10rem;
      width: 26px;
      height: 26px;
      border: 1px solid rgb(206, 206, 206);
      transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      svg {
        vertical-align: middle;

        polyline {
          transition-property: all;
          transition-duration: .3s;
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          stroke-width: 5;
        }
      }

      &:hover,
      &:focus {
        background-color: $primary-color--variant;
        border: 1px solid $primary-color--variant;
        color: $white;
        opacity: 0.75;

        svg {

          polyline {
            stroke-width: 7;
            stroke: currentColor;
          }
        }
      }

      &:active {

        svg {

          polyline {
            stroke-width: 9;
            transition-property: all;
            transition-duration: .15s;
            transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          }
        }
      }
    }

    .button-prev {
      left: 1rem;
    }

    .button-next {
      right: 1rem;

      svg {
        transform: rotate3D(0, 0, 1, 180deg);
      }
    }
  }
}