.s-main-modal {

  &__title {
    text-transform: uppercase;
    color: #18232a;
    font-size: rem(14px);
    line-height: rem(36px);
    font-weight: 700;
    margin: 1rem 0;

    span {
      font-weight: 400;
    }
  }

  .s-field-text__input {
    padding-left: 0;

    &::placeholder {
      color: #bab9b9;
    }
  }

  .modal-content {
    padding: 2rem 3rem 3rem;
  }

  .modal-body {
    padding: 0;
  }

  .close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }

  .s-field-actions {
    margin-top: 3rem;
    margin-bottom: 0;
  }
}