mixin modal

  #exampleModal.s-main-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        h5.s-main-modal__title
          | Форма заявки
          span  на консультацию
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true')
            svg(
              xmlns='http://www.w3.org/2000/svg',
              viewbox='0 0 25.64 25.64',
              width='10px',
              heibht='10px',
              fill='none',
              stroke='#353536',
              stroke-linecap='round',
              stroke-miterlimit='10',
              stroke-width='2px'
            )
              path.cls-1(d='M1 1l23.64 23.64M24.64 1L1 24.64')

        .modal-body
          +form
            +field-text({
              mods: 'modal',
              attrs: {
                placeholder: 'Введите ваше имя'
              }
            })
            +field-text({
              mods: 'modal',
              attrs: {
                placeholder: '+7 (123) 456-78-90'
              }
            })
            +field-text({
              mods: 'modal',
              attrs: {
                placeholder: 'Введите ваш Email'
              }
            })
            +field-text({
              mods: 'modal',
              attrs: {
                placeholder: 'Введите ваше сообщение'
              }
            })
            +field-actions
              +btn('Заказать звонок')