.s-work {
  padding: 1rem 0;
  border-bottom: 1px solid #e5e5e5;

  &__cover {
    height: 290px;
    width: 100%;

    > img {
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    font-size: rem(13px);
    line-height: rem(24px);
    padding-top: 1rem;

    @media (min-width: $screen-lg) {
      padding: 3rem;
    }
  }

  &__for {
    font-size: rem(18px);
    line-height: rem(36px);
    font-weight: 500;
    color: $primary-color;
    margin: 0;
  }

  &__desc-term,
  &__desc-desc {
    display: inline;
    font-variant-numeric: lining-nums;
  }

  &__desc-desc +
  &__desc-term::before {
    content: '\A';
    white-space: pre;
  }

  &__desc-desc +
  &__desc-desc::before {
    content: ', ';
    font-weight: normal;
    margin-left: -.25em;
  }

  &__desc-term {
    margin: 0;
    font-weight: 400;

    &::after {
      content: ':';
    }
  }

  &__desc-desc {
    margin: 0;
    color: $primary-color;

    &--weight-normal {
      font-weight: 400;
    }
  }

  &__text {
    margin: 0;
    max-width: 40em;
  }
}