.s-advantages {
  padding: 9.5rem 0 0;
  position: relative;

  @media (min-width: $screen-lg) {
    padding: 11rem 0 0;
  }

  &__shape {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__shape-inner {
    border: 1px solid rgba(169, 201, 216, 0.3);
    background-color: transparent;
    opacity: 0.3;
    border-radius: 1000px;
    position: absolute;
    left: 50%;
    transform: translate3d(-50%,0,0);
    width: 100%;
    height: 100%;

    &--first {
      bottom: -225px;
      width: 450px;
      height: 450px;
    }

    &--middle {
      bottom: -324px;
      width: 648px;
      height: 648px;
    }

    &--outer {
      bottom: -424px;
      width: 848px;
      height: 848px;
    }
  }

  &__slider {
    text-align: center;

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  &__desktop {
    display: none;

    @media (min-width: $screen-md) {
      display: block;
    }
  }

  &__left {
    text-align: right;
  }

  &__list {
    margin-bottom: 3rem;
  }

  &__item {
    font-size: rem(12px);
    line-height: rem(20px);

    @media (min-width: $screen-lg) {
      font-size: 0.875rem;
      line-height: 1.5rem;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__term,
  &__desc {
    margin: 0;
  }

  &__term {
    color: $primary-color;
    font-size: rem(13px);
    margin-bottom: 0.7rem;
  }

  &__cover {
    height: 100%;
    position: relative;

    > img {
      position: absolute;
      object-fit: contain;
      object-position: 50% 100%;
      width: 100%;
      height: 100%;
    }
  }
}