mixin advantages

  section.s-advantages
    .s-advantages__shape
      .s-advantages__shape-inner.s-advantages__shape-inner--first
      .s-advantages__shape-inner.s-advantages__shape-inner--middle
      .s-advantages__shape-inner.s-advantages__shape-inner--outer
    .container
      .s-main-subtitle: span Преимущества
      .s-advantages__slider
        +owl-carousel('advantages-mobile-slider').s-main-slider.s-main-slider--nav-center
          div
            +advantage-mobile(
              'Возможность получить помощь бесплатно',
              'Описание преимущества длиной в несколько слов или предложений, чтобы получилось 2-3 строки'
            )
            +advantage-mobile(
              'Комфортные условия размещения',
              'Описание преимущества длиной в несколько слов или предложений, чтобы получилось 2-3 строки'
            )
            +advantage-mobile(
              'Единая электронная система',
              'Любой лечащий врач имеет доступ к истории болезни пациента, что ускоряет процесс приёма и консультирования.'
            )
          div 2
          div 3
          div 4
          div 5
      .s-advantages__desktop
        .container
          .row
            .col
              .s-advantages__left
                ul.s-advantages__list
                  +advantage-desktop(
                    'Возможность получить помощь бесплатно',
                    'Описание преимущества длиной в несколько слов или предложений, чтобы получилось 2-3 строки'
                  )
                  +advantage-desktop(
                    'Комфортные условия размещения',
                    'Описание преимущества длиной в несколько слов или предложений, чтобы получилось 2-3 строки'
                  )
                  +advantage-desktop(
                    'Единая электронная система',
                    'Любой лечащий врач имеет доступ к истории болезни пациента, что ускоряет процесс приёма и консультирования.'
                  )
                  +advantage-desktop(
                    'Свой центр реабилитации',
                    'В СПБГУ Клиника высоких медицинских технологий им. Н.И. Пирогова есть реабилитационный центр, где в постоянном контакте с лечащим врачом работают специалисты, которые стараются сделать процесс выздоровления комфортней.'
                  )
            .col
              .s-advantages__cover
                img(src='img/strange-girl.png', alt='', width='387px', height='571px')
            .col
              .s-advantages__right
                ul.s-advantages__list
                  +advantage-desktop(
                    'Передовые операционные решения ',
                    'Уже на 1-5 день после операции вы возвращаетесь домой и приступаете к реабилитации.'
                  )
                  +advantage-desktop(
                    'Современные материалы',
                    'Мы работаем с Европейскими и Американскими материалами.'
                  )
                  +advantage-desktop(
                    'Возможность заочной консультации',
                    'Пациент присылает снимки - доктор сообщает о дальнейших действиях'
                  )
                  +advantage-desktop(
                    'Лечащие врачи',
                    'в обязательном порядке проходят стажировку за рубежом, постоянно развиваются, входят самые передовые технологии способы лечения.'
                  )

      .s-advantages__phablet

mixin advantage-desktop(title, desc)

  li.s-advantages__item
    dl
      dt.s-advantages__term= title
      dd.s-advantages__desc= desc


mixin advantage-mobile(title, desc)

  .s-advantages__item
    dl
      dt.s-advantages__term= title
      dd.s-advantages__desc= desc

