mixin slick-carousel(id, mods)

  //- Param:
    id      {string} - id
    mods    {string} - modifiers

  //- Use:
    +slick-carousel('slider-id')
      div Slide 1
      div Slide 2
      div Slide 3
      div Slide 4

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' slick-slider--' + modsList[i].trim();
      }
    }

  div(id=id, class=allMods)&attributes(attributes)
    block
