.s-about-us {
  font-size: rem(14px);
  line-height: rem(24px);
  padding: 2rem 0 3rem;

  ul {
    margin-top: 1rem;

    @media (min-width: $screen-lg) {
      margin-left: 1rem;
    }

    li {

      &:not([class]) {
        margin-left: 2rem;
        position: relative;

        &::before {
          position: absolute;
          content: '';
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: currentColor;
          left: -2rem;
          top: 0.5rem;
          transform: translate3d(50%,0,0);
        }
      }
    }
  }

  p {
    margin-top: 1rem;
  }
}