.s-main-slider {
  margin-top: 5rem;

  > .owl-nav [class*='owl-'] {
    margin: 0;
  }

  > .owl-nav {
    margin: 0;
    position: absolute;
    right: 0;
    top: -4rem;
    display: flex;
    flex-direction: row;
    width: 60px;
    justify-content: space-between;

    @media (min-width: $screen-lg) {
      width: 70px;
    }

    &:hover {
      background: none;
    }

    button.owl-prev,
    button.owl-next {
      background-color: transparent;
      border-radius: 10rem;
      width: 26px;
      height: 26px;
      border: 1px solid rgb(206, 206, 206);
      transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      @media (min-width: $screen-lg) {
        width: 30px;
        height: 30px;
      }

      svg {
        vertical-align: middle;

        polyline {
          transition-property: all;
          transition-duration: .3s;
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          stroke-width: 5;
        }
      }

      &:hover,
      &:focus {
        background-color: $primary-color--variant;
        border: 1px solid $primary-color--variant;
        color: $white;
        opacity: 0.75;

        svg {

          polyline {
            stroke-width: 7;
            stroke: currentColor;
          }
        }
      }

      &:active {

        svg {

          polyline {
            stroke-width: 9;
            transition-property: all;
            transition-duration: .15s;
            transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          }
        }
      }
    }

    button.owl-next {

      svg {
        transform: rotate3D(0, 0, 1, 180deg);
      }
    }
  }

  > .owl-dots {
    padding: 1rem;

    .owl-dot {
      margin: 0.25rem;
      vertical-align: middle;

      span {
        width: 4px;
        height: 4px;
        border-radius: 1rem;
        background-color: $primary-color--variant;
      }

      &.active {

        span {
          width: 6px;
          height: 6px;
          background-color: $primary-color;
        }
      }
    }
  }

  &--nav-center {
    margin-top: 1rem;
    padding: 0 2rem;

    @media (min-width: $screen-lg) {
      padding: 0 4rem;
    }

    > .owl-nav {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translate3d(0,-50%,0);
      min-height: 26px;
      width: 100%;

      @media (min-width: $screen-lg) {
        width: 100%;
      }

      .owl-prev,
      .owl-next {
        position: absolute;
      }

      .owl-prev {
        left: 0;
      }

      .owl-next {
        right: 0;
      }
    }
  }
}