mixin language-switcher(mods)


  //- Param:
    mods {string} - modifiers

  //- Usage:
    +language-switcher('mods')

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-language-switcher--' + modsList[i].trim();
      }
    }

  .s-language-switcher(class=allMods, role='banner')&attributes(attributes)
    ul.s-language-switcher__list
      li.s-language-switcher__item.s-language-switcher__item--is-active
        a.s-language-switcher__link(href='/') Рус
      li.s-language-switcher__item
        a.s-language-switcher__link(href='/') Eng