.s-language-switcher {
  color: $primary-color;

  &__list {
    display: flex;
  }

  &__item {
    margin: 0;

    &:first-child {
      padding-left: 0;
    }

    &:not(:first-child) {
      padding-left: 0.5rem;

      &::before {
        position: relative;
        content: '|';
        padding-right: 0.5rem;
        color: currentColor;
      }
    }

    &--is-active {

      .s-language-switcher__link {
        font-weight: 700;
        color: currentColor;
      }
    }
  }

  &__link {
    display: inline-block;
    text-transform: uppercase;
    font-size: rem(15px);
    line-height: rem(32px);
    font-weight: 300;
    color: #8dc7dd;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  &--light {
    color: $white;
  }
}