.s-get-a-program {
  background-color: $primary-color;
  background-image:
    linear-gradient(
      to top,
      rgba(#216596,0.9),
      ease-in-out,
      rgba(#249ace,0.9)
    ),
    url(../img/bg-feedback.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 3.7rem 0;

  &__title {
    font-size: rem(16px);
    line-height: rem(30px);
    color: $white;
    margin: 0;

    @media (min-width: $screen-md) {
      text-align: left;
    }

    @media (min-width: $screen-lg) {
      font-size: rem(24px);
      line-height: rem(30px);
    }
  }

  .s-field-select {

    @media (min-width: $screen-md) {
      margin: 0;
    }
  }

  .s-field-text {

    @media (min-width: $screen-md) {
      margin: 0;
    }
  }

  .s-field-actions {
    margin-top: 3rem;

    @media (min-width: $screen-md) {
      margin: 0;
    }
  }
}