mixin get-a-program

  .s-get-a-program
    .container
      .row
        .col-12.col-sm-6.offset-sm-3.col-lg-4.offset-lg-0.col-xl-5
          h2.s-get-a-program__title Получить программу реабилитации в послеоперационный период
        .col-12.col-sm-6.offset-sm-3.col-lg-8.offset-lg-0.col-xl-7
          +form
            .row.align-items-center
              .col-12.col-lg-4
                +field-select(
                  '',
                  {
                    name: 'select',
                    id: 'select'
                  },
                  [
                    {
                      attrs: {
                        label: 'Group name',
                      },
                      child: [
                        {
                          title: 'Направление',
                          attrs: {
                            value: 'val01',
                          }
                        },
                        {
                          title: 'Input 2',
                          attrs: {
                            value: 'val02',
                          }
                        },
                      ]
                    },
                    {
                      title: 'Input 3',
                      attrs: {
                        value: 'val03',
                      }
                    }
                  ],
                  '',
                  'light'
                )
              .col-12.col-lg-4
                +field-text({
                  mods: 'light',
                  attrs: {
                    id: 'e-mail',
                    name: 'e-mail',
                    type: 'email',
                    placeholder: 'Введите Email',
                    required: ''
                  }
                })
              .col-12.col-lg-4
                +field-actions('', '')
                  +btn('Выслать')