extends pug/layout.pug

block meta
  - var title = 'About';
  title= title
  meta(name='description', content='')

block header
  +page-header
  +main-nav
  +mobile-menu

block content

  .s-page-name
    .container
      h1.s-page-name__name О нас

  .container
    +breadcrumb()
      +breadcrumb-item('Главная', '/')
      +breadcrumb-item('О нас')

  .s-about-us
    .container
      .row
        .col-12.col-lg-8.offset-lg-2
          p.
            Orto Surgeons Team является представительством Клиники высоких медицинских технологий им. Н.И. Пирогова: «Отделение травматологии и ортопедии №2». Заведующий отделения врач травмотолог-ортопед, Акулаев Антон Андреевич.
          p.
            Пациенты получают специализированную медицинскую помощь с заболеваниями и повреждениями стопы, ног, рук и кистей, шеи и спины. На отделении «Травматологии и ортопедии 2» созданы комфортные условия для пациентов. К вашим услугам:

          ul
            li Лечащие врачи с высшими квалификационными категориями, регулярно обучающиеся за границей.
            li Передовое диагностическое и операционное оборудование.
            li Оперативный прием. Мы выполняем до 7 оперативных вмешательств в день и до 140 в месяц.
            li Функциональный и эстетический результат. Проведение минимально травматичных операций, благодаря передовому оснащению клиники.
            li Материалы и импланты, качество которых доказано 3-мя миллионами врачей.
            li Пока идет операция за анестезию и контроль систем жизнеобеспечения отвечают врачи отделения анастезиологии, работающие в нашей команде уже больше 8 лет.
            li Внимательный уход после операций. Размещение в 2 и 3 местных палатах. Палаты оснащены телевизором, холодильником, кондиционером и телефоном. В коридорах стоят кулеры с питьевой водой, на территории медицинского центра обеспечен бесплатный доступ в интернет Wi-Fi.
            li Индивидуально подобранные программы реабилитации, которые так же проходят на отделении.

          p.
            Наша особенность это команда. Каждый сотрудник отвечает за свою часть работы, что даёт нам возможность сократить количество стрессовых ситуаций, оставаться на связи с пациентами круглосуточно и выполнять свою работу качественно!

          p.
            Обратите внимание! Во многих случаях помощь оказывается бесплатно. За счет средств федерального бюджета (федеральных квот). Так же возможен расчёт по всем видам страхования и на платной основе.

  +our-doctors

block footer
  +page-footer