extends pug/layout.pug

block meta
  - var title = 'Doctor';
  title= title
  meta(name='description', content='')

block header
  +page-header
  +main-nav
  +mobile-menu

block content

  .s-page-name
    .container
      h1.s-page-name__name Акулаев Антон Андреевич

  .container
    +breadcrumb()
      +breadcrumb-item('Главная', '/')
      +breadcrumb-item('О нас', '/')
      +breadcrumb-item('Наши врачи', '/')
      +breadcrumb-item('Акулаев Антон Андреевич')

  .s-doctor-information
    .container
      .row
        .col-12.col-md-4
          .s-briefly
            .s-briefly__photo
              img(src='img/doctor.png', alt='', width='244px', height='346px')
            span.s-briefly__name Акулаев Антон Андреевич
            dl.s-briefly__desc-list
              dt.s-briefly__desc-term Полных лет
              dd.s-briefly__desc-desc 36
              dt.s-briefly__desc-term Опыт работы
              dd.s-briefly__desc-desc 12 лет
              dt.s-briefly__desc-term Специализация
              dd.s-briefly__desc-desc.s-briefly__desc-desc--weight-normal Лечение различных заболеваний стоп и голеностопного сустава
              dt.s-briefly__desc-term Количество сделанных операций
              dd.s-briefly__desc-desc 3 500
            .s-briefly__actions
              +btn('Записаться')
        .col-12.col-md-8
          .s-info
            ul#myTab.nav.nav-tabs(role='tablist')
              li.nav-item
                a#info-tab.nav-link.active(data-toggle='tab', href='#info', role='tab', aria-controls='info', aria-selected='true') Информация
              li.nav-item
                a#publications-tab.nav-link(data-toggle='tab', href='#publications', role='tab', aria-controls='publications', aria-selected='false') Публикации
              li.nav-item
                a#work-tab.nav-link(data-toggle='tab', href='#work', role='tab', aria-controls='work', aria-selected='false') Работы
              li.nav-item
                a#licenses-tab.nav-link(data-toggle='tab', href='#licenses', role='tab', aria-controls='licenses', aria-selected='false') Лицензии
              li.nav-item
                a#testimonials-tab.nav-link(data-toggle='tab', href='#testimonials', role='tab', aria-controls='testimonials', aria-selected='false') Отзывы
            #myTabContent.tab-content
              #info.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='info-tab')
                .s-info__content
                  h3.s-info__subtitle Образование
                  p.
                    Сентябрь 1998- Июнь 2004 - Факультет лечебное дело, ВУЗ Спб ГМА им. И.И. Мечникова
                  p.
                    Сентябрь 2004 - Август 2007 - Место РНИИТО им. Р.Р. Вредена, Специальность травматология ортопедия
                  h3.s-info__subtitle Повышение квалификации
                  ul
                    li 2008-конференция «Блокирующий интрамедулярный остеосинтез» (Москва) 
                    li 2009-AO Trauma Course Principles in Operative Fracture Management (Москва , Россия)
                    li 2009-Trauma Masterclass Locking Plates (Istambul, Turkey)
                    li 2009-visitation Prof Dr. A. Mehmet Demirtas(Ankara , Turkey)
                    li 2010-IM Nailing conference (Moscow) 
                    li 2010-AO Trauma Course- Injured Foot ( Bristol, UK) повреждения стоп
                    li 2010-Seminar AO World Vision
                    li 2010 ( StPetersburg) 2010-DePuy Сourse ( Moscow) 
                    li 2010-Course Integra foot surgery (StPetersburg)
                    li 2011-Visitation Clinique St. Antoine de Padoue BORDEAUX France Dr. Pierre Barouk
                    li 2011-AO Trauma Symposium - Shoulder , Elbow, Forearm 
                    li 2011-Hindfoot Days - Liestal Switzerland
                    li 2012- Arthrex Foot Course - Munich
                  h3.s-info__subtitle Конференции
                  ul
                    li 2013-EFAS ( конференция европейского общества стопы)
                    li 2014 EFORT London june( ассоциация ортопедов Европы)
                    li 2014 AAOS ( Chicago september) американская ассоциация хирургом стопы 2015 курс “малоинвазивная хирургия стопы” Аугсбург 2016
                    li проведение курса хирургия стопы на базе СПМЦ
                    li 2017 RUSFAS (Москва) II КОНГРЕСС РОССИЙСКОЙ АССОЦИАЦИИ ХИРУРГОВ СТОПЫ И ГОЛЕНОСТОПНОГО СУСТАВА
                    li 2018 AAOS (New Orlean) американская ассоциация хирургом стопы 2015 курс “малоинвазивная хирургия стопы” Аугсбург
                  h3.s-info__subtitle Личное
                  p.
                    Антон Андреевич страстный поклонник своей работы. Активно занимается повышением своего профессионального опыта и знаний. Является членом международной ассоциации травматологов-ортопедов. В свободное от работы время занимается водными видами спорта: серфинг, вейкбординг, плавание на дальние дистанции

              #publications.tab-pane.fade(role='tabpanel', aria-labelledby='publications-tab') 2
              #work.tab-pane.fade(role='tabpanel', aria-labelledby='work-tab') 3
              #licenses.tab-pane.fade(role='tabpanel', aria-labelledby='licenses-tab') 4
              #testimonials.tab-pane.fade(role='tabpanel', aria-labelledby='testimonials-tab') 5

block footer
  +page-footer