extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block header
  +page-header
  +main-nav
  +mobile-menu

block content
  +promo
  +advantages
  +get-a-program
  +testimonials
  +our-doctors
  +modal

block footer
  +page-footer