extends pug/layout.pug

block meta
  - var title = 'Works';
  title= title
  meta(name='description', content='')

block header
  +page-header
  +main-nav
  +mobile-menu

block content
  .s-page-name
    .container
      h1.s-page-name__name Наши работы

  .container
    +breadcrumb()
      +breadcrumb-item('Главная', '/')
      +breadcrumb-item('О нас', '/')
      +breadcrumb-item('Наши работы')

    +work()
    +work()
    +work()

    +pagination()
      +pagination-item-prev('/')
      +pagination-item('4', '/4')
      +pagination-item('5', '/5', true)
      +pagination-item('6', '/6')
      +pagination-item-next('/')

mixin work()

  .s-work
    .row.align-items-center
      .col-12.col-sm-5.col-xl-4
        .s-work__cover
          img(src='https://images.unsplash.com/photo-1545494049-2304c6302370?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60', alt='')
      .col-12.col-sm-7.col-xl-8
        .s-work__content
          h2.s-work__for Анна, 53 года
          dl.s-work__desc-list
            dt.s-work__desc-term Тип операции
            dd.s-work__desc-desc Стопа
            dt.s-work__desc-term Врач
            dd.s-work__desc-desc Антон Андреевич Акулаев
          p.s-work__text.
            В данном случае Антон Андреевич Акулаев сделал коррекцию деформации переднего отдела стопы, а так же устранил выпирающую косточку (Hallux valgus). Всё это сделано при помощи малотравматичных методик

block footer
  +page-footer