@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova-light.woff2') format('woff2'),
       url('../fonts/proxima-nova-light.woff') format('woff'),
       url('../fonts/proxima-nova-light.ttf') format('truetype');;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova-regular.woff2') format('woff2'),
       url('../fonts/proxima-nova-regular.woff') format('woff'),
       url('../fonts/proxima-nova-regular.ttf') format('truetype');;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova-semibold.woff2') format('woff2'),
       url('../fonts/proxima-nova-semibold.woff') format('woff'),
       url('../fonts/proxima-nova-semibold.ttf') format('truetype');;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova-bold.woff2') format('woff2'),
       url('../fonts/proxima-nova-bold.woff') format('woff'),
       url('../fonts/proxima-nova-bold.ttf') format('truetype');;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova-light-italic.woff2') format('woff2'),
       url('../fonts/proxima-nova-light-italic.woff') format('woff'),
       url('../fonts/proxima-nova-light-italic.ttf') format('truetype');;
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}