.s-doctor-card {
  box-shadow: 0px 3px 7px 0px rgba(39, 88, 110, 0.14);
  background-color: $white;
  border-radius: 20px;
  padding: 0.5rem 0.5rem 0;
  overflow: hidden;
  margin: 10px;

  @media (max-width: ($screen-sm - 1)) {
    max-width: 180px;
    margin: 10px auto;
  }

  &:hover {

    .s-doctor-card__info {

      @media (min-width: $screen-lg) {
        transform: translate3d(0,0,0);
      }
    }
  }

  &__inner {
    position: relative;
  }

  &__photo {
    height: 390px;
    width: 100%;
    z-index: 1;

    > img {
      object-fit: cover;
      object-position: 50% 0;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 120px;
    z-index: 2;
    background-color: $white;
    text-align: center;
    padding: 0.25rem 0 1rem 0;
    transition: all 0.25s ease-out 0s;

    @media (min-width: $screen-lg) {
      transform: translate3d(0,4rem,0);
    }
  }

  &__desc {
    margin-bottom: 1rem;
  }

  &__doctor-name {
    color: $primary-color;
    font-size: rem(15px);
    line-height: rem(24px);
    font-weight: 500;
    display: block;

    @media (min-width: $screen-lg) {
      line-height: rem(36px);
    }
  }

  &__direction {
    font-size: rem(13px);
    line-height: rem(16px);
    font-weight: 300;
    color: #3e3f40;
    display: block;
  }

  .s-btn {
    @media (max-width: ($screen-sm - 1)) {
      min-width: fit-content;
    }
  }
}