mixin doctor-card

  .s-doctor-card
    .s-doctor-card__inner
      .s-doctor-card__photo
        img(src='img/doctor.png', alt='', width='260px', height='390px')
      .s-doctor-card__info
        .s-doctor-card__desc
          span.s-doctor-card__doctor-name Акулаев Андрей Евгеньевич
          span.s-doctor-card__direction Врач, травматолог-ортопед
        +btn('Подробнее')(href='/')