.s-field-checkbox {
  display: block;
  margin-bottom: 1rem;

  &__title {
    display: block;
    font-weight: 700;
    line-height: $line-height;
    margin-bottom: 0.4em;
  }

  &__input-wrap {

    & + & {
      margin-top: 1rem;
    }
  }

  &__name {
    position: relative;
    display: inline-block;
    padding-left: 1.5em;
    margin-right: 0.6em;
    font-weight: 400;
    line-height: $line-height;
  }

  &__name-text {
    display: inline-block;

    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      width: 1rem;
      height: 1rem;
      box-shadow: 0 0 0 1px #c6c9cc;
      border-radius: 4px;
      background:
        linear-gradient(
          to top,
          #f2f4f8,
          ease-in-out,
          #ffffff
      );
    }

    @at-root input:checked ~ &:before {
      box-shadow: 0 0 0 1px #fff;
      background:
        linear-gradient(
          to top,
          #216596,
          ease-in-out,
          #249ace
      );
    }

    &:after {
      content: '';
      position: absolute;
      top: 10px;
      left: 4px;
      width: 8px;
      height: 4px;
      opacity: 0;
      border-left: 2px solid $white;
      border-bottom: 2px solid $white;
      transform: rotate(-45deg);
      transition: opacity 0.3s;

      @at-root input:checked ~ & {
        opacity: 1;
      }
    }
  }

  &__input {
    position: absolute;
    top: 0.7em;
    left: 0;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);
    opacity: 0;

    &:focus,
    &:active {
      background:
        linear-gradient(
          to top,
          rgba(#216596,0.9),
          ease-in-out,
          rgba(#249ace,0.9)
      );
    }
  }

  &__help-text-wrap {
    padding-left: 1.5em;
  }

  &__help-text {
    @include field-help-text;
  }
}
