$hamburger-width:         24px;
$hamburger-height:        24px;
$hamburger-radius:        $hamburger-width / 2;
$hamburger-color:         $primary-color;

.s-hamburger {
  width: $hamburger-width;
  height: $hamburger-height;
  padding: 0;
  position: relative;
  cursor: pointer;
  z-index: 200;

  span {
    display: inline-block;
    width: $hamburger-width;
    height: 2px;
    background-color: $hamburger-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    transition: all 0.125s ease-in 0s;

    &::before,
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: $hamburger-width;
      height: 2px;
      background-color: inherit;
    }

    &::before {
      top: -0.35rem;
      left: 0;
    }

    &::after {
      width: rem(16px);
      bottom: -0.4rem;
      right: 0;
    }
  }

  &--close {

    span {
      background-color: $white;
    }
  }
}